.case-studies .dark-layer {

    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;

    h4 {

        color:white;
        margin-bottom: 0;

    }
}
