@import "breakpoint";
@import "../variables/variables";
@import "../variables/mixin";

.c-header{

    background-color: $gris;
    //height: 30vh;
    display: block;
    width: 100%;
    margin-bottom: 8rem;

    @include jpg(pharma_bg_header ,50% 50%,cover);

        h1{
            background-image: none !important;
            text-align: center;
            padding: 3rem 3rem;
            .picto{
                @extend .c-icone;
                display: inline-block;
                vertical-align: middle;
                width: 10rem;
                height: 10rem;
                background-size: 60%;
                margin:0px;
                margin-right: 1rem;
                &:before{
                    border-width: 4px;
                }
                background-repeat: no-repeat;
                background-position: center center;
            }

            .c-txt{

                display: inline-block;
                text-align: center;
                vertical-align: middle;
                text-transform: uppercase;
                font-size: 2.3rem;
                font-weight: 900;
                line-height: 2.4rem;
                max-width: 400px;
                color:white;

            }

        }

}


@include keyframes(photo1) {
   0% { @include opacity(0); right:-10rem;  }
  10% { @include opacity(1); right:-5rem;   }
  30% { @include opacity(1); right:-5rem;   }
  50% { @include opacity(0); right:-2rem;   }
 100% { @include opacity(0); right:-2rem;   }
}
@include keyframes(photo2) {
   0% { @include opacity(0); right:-10rem; }
  10% { @include opacity(1); right:-8rem;  }
  40% { @include opacity(1); right:-8rem;  }
  50% { @include opacity(0); right:-2rem;  }
 100% { @include opacity(0); right:-2rem;  }
}


@include keyframes(photo3) {
   0% { @include opacity(0); right:-10rem; }
  55% { @include opacity(0); right:-10rem; }
  65% { @include opacity(1); right:-5rem;  }
  90% { @include opacity(1); right:-5rem;  }
 100% { @include opacity(0); right:-2rem;  }
}

@include keyframes(photo4) {
   0% { @include opacity(0); right:-10rem; }
  55% { @include opacity(0); right:-10rem; }
  65% { @include opacity(1); right:-8rem;  }
  90% { @include opacity(1); right:-8rem;  }
 100% { @include opacity(0); right:-6rem;  }
}

.c-img-1{
     @include animation(photo1 15s ease-in-out 3);
}
.c-img-2{
     @include animation(photo2 16s ease-in-out 3);
}

.c-img-3{
     @include animation(photo3 15s ease-in-out 3);
}
.c-img-4{
     @include animation(photo4 16s ease-in-out 3);
}

.c-block-domaine{

    //width: 70vw;

    display: block;
    margin: 0 auto;
    padding:5px;
    margin-top:7rem;
    margin-bottom: 6rem;
    @include main-padding();


    .c-gris{
     
       position: relative ;
       perspective: 1000px;
       min-height: 27vh;

    }

    .c-text{

        background-color: $gris;
        width:  60%;
        padding:3rem;
        padding-right: 12rem;
        position: relative ;
        display: inline-block;
        vertical-align: top;

        .c-cta{
            display: block ;
            width:  100%;
            text-align: center  ;
        }
        
        strong{
            @include fz(3);
            text-transform: uppercase;  
            font-weight:    600;
            margin-top: 2rem;
            display: block; 
            width:  100%;
            position: relative;
        }

        a{

            display: inline-block ;

            margin-top: 2rem;

        }
          h1{
                    @include fz(4);
                 font-weight: 900;
                 margin-bottom: 1.5rem;
                 text-transform: uppercase;
             }
             p, li{
                @include fz(2);
             }
    }

    .c-img-1,.c-img-3{

        z-index: 10;

        width: 57%;
        height: 47%;
        right: -5rem;      
        top:60%;

        min-height: 35vh;
        position: absolute;
        display: block;
        vertical-align: top;
       
        @include jpg(pharma_affaire,50% 50%, cover);
        @include translate(0px,-100%);
        &:after{

            content:"";
            display: block ;
            height: 5px;
            width: 100%;
            position: absolute;
            bottom:-1px;
            left:0px;
            @extend .gradient-h;

        }

        }

            .c-img-2,.c-img-4{

        width: 40%;
        height: 20%;
        top:84%;
        right: -8rem;

        position: absolute;
        display: block;
        vertical-align: top;


        min-height: 35vh;
       
        @include jpg(pharma_assurance,50% 50%, cover);
        @include translate(0px,-100%);
        &:after{

            content:"";
            display: block ;
            height: 5px;
            width: 100%;
            position: absolute;
            bottom:-1px;
            left:0px;
            @extend .gradient-h;

        }

        }

        .c-img-3{
            @include jpg(pharma_gestion,50% 50%, cover);
   
            @include opacity(0);
        }
        .c-img-4{
            @include jpg(pharma_ingenierie,50% 50%, cover);
        
            @include opacity(0);
        }

    &:nth-child(odd) {
        .c-img{
            left:2rem;
        }
        .c-text{
            float: right;
            padding-left: 1rem;
            ul{
                list-style-image: url(../imgs/bullet.png) !important;
            }
        }
    }

    &:nth-child(2) {
       .c-img{
            @include jpg(pharma_affaire,50% 50%, cover);
       }
    }
     &:nth-child(3) {
       .c-img{
            @include jpg(pharma_assurance,50% 50%, cover);
       }
    }
     &:nth-child(4) {
       .c-img{
            @include jpg(pharma_gestion,50% 50%, cover);
       }
    }
     &:nth-child(5) {
       .c-img{
            @include jpg(pharma_ingenierie,50% 50%, cover);
       }
    }

}


.e-d-c{
    text-align: center;
    @include main-padding(25vw,25vw);
    position: relative;
    display: block;
    width: 100%;
    h1{
        @include fz(5);
        text-transform: uppercase;
        font-weight: 800;
    }
    .c-block{
        width: 100%;
    }
    .grille{
        
        width: 100%;
        padding-top: 10rem;

        .view-case-studies{
            height: 100%;
            .view-content{
                height: 100%;
            }
        }

         @include breakpoint($laptopl) {

            width: 55vw;
            height: 55vw;
             margin-left: -5.7vw;
         }
        
        position: relative;
        display: block;
        .views-row{
            display: block;
            float: left;
            width: 50%;
            height: 50%;
            position: relative;
             padding: 0.2rem;

             .item{
                height: 100%;
                width: 100%;
             }
            
            
            .c-bg{
                @include jpg(pharma_bg_header ,50% 50%,cover);
                height: 100%;
               
            }

            a{
                display: block;
                color:black;
                background-color: rgba(white,0.5);
                width: 100%;
                height: 100%;
                position: relative;
                padding: 3rem;
                padding-top: 4rem;
                @include opacity(0);
                @include transition(all 0.2s ease-out);
                h2{
                    @include fz(3);
                    font-weight: 800;
                    text-transform: uppercase;  
                }
                .sep{
                    height: 0.2rem;
                    display: block;
                    margin: 0 auto;
                    width: 70%;
                    @extend .gradient-h;
                    margin-top: 2rem;
                    margin-bottom: 1.2rem;
                    @include transition(all 0.2s ease-out);
                }
                .cta{
                    margin-top:1rem;
                }
                p{
                    @include fz(2);
                }
                &:hover{
                    @include opacity(1);
                    .sep{
                        margin-top:1rem;
                    }
                }
            }

            &:nth-child(1){
                margin-top:-100px;
            }
             &:nth-child(3){
                margin-top:-100px;
            }

        }
    }
}
