@import "breakpoint";
@import "../variables/variables";
@import "../variables/mixin";

.equipes_et_partenaire{
    .c-block-histoire{
        .c-img{
            @include png(equipe_photo,50% 50%, cover);
        }
    }

        .logos-partenaires {

            background-color: white;
           
            text-align: center;
            padding: 0rem 2rem;
            //padding-bottom: 6rem;
            position: relative;

            @include main-padding(15vw,15vw);

            .gradient{
                 @extend .gradient-light;
                 position: absolute;
                 top:70%;
                 left:0px;
                 height: 30%;
               
                 width: 100%;
                 display: block;
                 z-index: 1;

            }

            .va {
                    h4{
                        text-align: center;
                    }
                    position: relative;
                    z-index: 2;
                padding: 6rem 0rem;

                .c-picto{

                    display: inline-block;
                    margin:0rem 2rem;
                    vertical-align: middle;

                    &:nth-child(3) {
                       @include animation(picto1 1.5s ease-in-out 1);
                    }

                    &:nth-child(2) {
                       @include animation(picto2 1.5s ease-in-out 1);
                    }
                      &:nth-child(4) {
                       @include animation(picto2 1.5s ease-in-out 1);
                    }

                    &:nth-child(1) {
                       @include animation(picto3 1.5s ease-in-out 1);
                    }
                    &:nth-child(5) {
                       @include animation(picto3 1.5s ease-in-out 1);
                    }

                    img {

                        height: 8em;
                        width: auto

                    }

                a{

                     color:black;
                        text-transform: uppercase;
                        @include fz(4);
                        max-width: 14rem;
                    h6{

                        color:black;
                        text-transform: uppercase;
                        @include fz(3);
                        max-width: 14rem;
                        @include opacity(0.8);
                    }
                    &:hover{
                        h6{
                             @include opacity(1);
                        }

                    }

                }

            }

        }

    }

}

.c-block-temoignage{

    width: 100%;
    display: block;
    margin: 0 auto;
    padding:5px;
    margin-top:7rem;
    margin-bottom: 6rem;
    padding: 3rem 6rem;

    background-color: $gris;

     @include breakpoint($tablet){
        width: 65vw;
     }

    h5{
        font-size: 1.5rem;
        font-weight: 500;
        color:black;
        text-transform: uppercase;
        text-align: center;
         @include breakpoint($tablet){
        text-align: left;
     }
    }

    .sep{

         height: 0.3rem;
         display: block;
         float: none;
         width: 100%;
         @extend .gradient-h;
         margin-top:1rem;
         margin-bottom: 3rem;

          @include breakpoint($tablet){
           float: right;
           width: 90%;
         }
    }

    .c-avatar{
       display: inline-block;
       vertical-align: middle;
       text-align: center;
      width: 100%;
      margin-bottom: 1rem;
        @include breakpoint($tablet){
       width: 20%;
       min-width: 6rem;
        }

       .c-img{
                overflow: hidden;
                border-radius: 100%;
                border-top: 5px solid rgba(black,0.1);
                border-bottom: 5px solid rgba(white,0.7);
                height: 7rem;
                width: 7rem;
                position: relative;
                margin:0 auto;

                  @include breakpoint($tablet){
                height: 10rem;
                width: 10rem;

                  }

       }

       img{
         
         width: auto;
         display: block;
         position: absolute;
         height: 100%;
         @include translate(-50%,-50%);
            left:50%;
            top: 50%;

       }
       .nom{
        font-weight:  bold;
        text-transform: uppercase;
        font-size:  1.2rem;
        margin-top:1rem;
        display: inline-block;
       }
    }
    .c-text{
       display: inline-block;
       vertical-align: middle;
       text-align:left;
       width: 100%;
       padding-left: 0%;
       p{
            font-size:1.2rem;
       }
       @include breakpoint($tablet){
         padding-left: 5%;
            width: 75%;
       }
    }

    .c-cta{
        text-align: right;
        margin-right: -3rem;

    }
}


