.espaceperso  {

    .c-form {
      display: block;
      //width: 50%;
      padding: 2rem;

        .c-block {
            label{
                @include fz(3);
                margin-bottom: 0.8rem;
              }
              input, textarea{
              background-color: $gris;
              border-radius: 0.3rem;
              padding: 0.666rem;
              border:0px;
              width: 75%;
              outline: none;
               @include transition(all 0.2s ease-out);
              border-top:2px solid rgba(black,0);
              @include fz(2);
              &:active{
                background-color: rgba(black,0.2);
              }
              &:focus{
                background-color: rgba(black,0.1);
                border-top:2px solid rgba(black,0.2);
                  .form-required{
                    color:$bleu;
                  }
                }
              }
            textarea{
              min-height: 15rem;
            }
            .form-required{
              color:$nuit;
            }
          }

        .titres {
            margin: 0rem 3rem;

            h4 {
                margin-bottom: 1rem;
            }

            h2 {

                text-align: center;

                @include breakpoint($tablet) {
                    text-align: left;
                    padding-left: 4rem;
                }

                font-size: 1.3rem;
                margin-bottom: 2.8rem;
            }
        }

            .c-gradient {

            div {

                &:second-child {

                    border-left: 1px solid blue;

                }
            }

            .form-col {

                @include breakpoint($laptop) {

                        padding-left: 6rem;
                        padding-right: 6rem;
                        border-left: 2px solid #02bce8;

                    &:first-child {

                        border-left: 0px solid blue;

                    }
                }
            }
        }
    }



    &.consultants, &.partenaires {

        .cc-block {

            text-align: center;

            .form-col {

            @include breakpoint($tablet) {

                     padding-left: 12rem;
                     padding-right: 12rem;
                     border-left: 2px solid #02bce8;
                     width:100%;

                    &:first-child {

                        border-left: 0px solid blue;

                    }

                }

            }

        }

    }

}

.page-user-password {

    .user-pass {

        width: 96%;
        @include breakpoint($tablet){
            width:  74.1%;
        };
        //@include main-padding();

        display: block;
        margin: 0 auto;
        padding:5px;
        margin-top:1rem;
        margin-bottom: 1rem;

          @include breakpoint($tablet){
           margin-top:10rem;
            margin-bottom: 10rem;
          }

         @extend .gradient-h;

        & > div {

           background-color: white;
           padding:3rem;
           position: relative ;
           perspective: 1000px;

            .form-item {

                label{
                    @include fz(3);
                    margin-bottom: 0.8rem;
                  }
                  input, textarea{
                  background-color: $gris;
                  border-radius: 0.3rem;
                  padding: 0.666rem;
                  border:0px;
                  width: 75%;
                  outline: none;
                   @include transition(all 0.2s ease-out);
                  border-top:2px solid rgba(black,0);
                  @include fz(2);
                  &:active{
                    background-color: rgba(black,0.2);
                  }
                  &:focus{
                    background-color: rgba(black,0.1);
                    border-top:2px solid rgba(black,0.2);
                      .form-required{
                        color:$bleu;
                      }
                    }
                  }
                textarea{
                  min-height: 15rem;
                }
                .form-required{
                  color:$nuit;
                }

            }

        }

    }

}

.user-login {

        width: 96%;
        @include breakpoint($tablet){
            width:  74.1%;
        };
        //@include main-padding();

        display: block;
        margin: 0 auto;
        padding:5px;
        margin-top:1rem;
        margin-bottom: 1rem;

          @include breakpoint($tablet){
           margin-top:10rem;
            margin-bottom: 10rem;
          }

         @extend .gradient-h;

        & > div {

           background-color: white;
           padding:3rem;
           position: relative ;
           perspective: 1000px;

            .form-item {

                label{
                    @include fz(3);
                    margin-bottom: 0.8rem;
                  }
                  input, textarea{
                  background-color: $gris;
                  border-radius: 0.3rem;
                  padding: 0.666rem;
                  border:0px;
                  width: 75%;
                  outline: none;
                   @include transition(all 0.2s ease-out);
                  border-top:2px solid rgba(black,0);
                  @include fz(2);
                  &:active{
                    background-color: rgba(black,0.2);
                  }
                  &:focus{
                    background-color: rgba(black,0.1);
                    border-top:2px solid rgba(black,0.2);
                      .form-required{
                        color:$bleu;
                      }
                    }
                  }
                textarea{
                  min-height: 15rem;
                }
                .form-required{
                  color:$nuit;
                }

            }


        }

    }

#edit-submit, #edit-submit--2 {

    background-color: white;
    width:auto;

}
