.formation-detail {

    .dark-layer {

        background-repeat: no-repeat;
        background-position: center center;
        background-color: transparent;

        h4 {

            color:white;
            margin-bottom: 0;

        }

    }

    .bloc-texte-formation-detail {

        @include main-padding();

        h4 {

            margin-top: 1.5rem;

        }

        .c-text {

            -webkit-column-count: 3; /* Chrome, Safari, Opera */
            -moz-column-count: 3; /* Firefox */
            column-count: 3;
            -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
            -moz-column-gap: 40px; /* Firefox */
            column-gap: 40px;

        }

        margin-bottom: 1.5rem;

    }

}
