@import "breakpoint";
@import "../variables/variables";
@import "../variables/mixin";

body {

    img {

        height: auto;

    }

 

}

.not-logged-in{

   
    &:before{
    position: fixed;
          display: block;
          width: 100%;
          height: 100%;
          background:rgba(white,0.85);
          z-index: 10000;
          text-align: center;
          content:"Version responsive en cours de développement";
          @include fz(4);
          color:$orange;
          padding-top: 20rem;
          
     }
    @include breakpoint($laptop) {
        
        
        &:before{

          display: none;

        }
    }

}

.node-type-home{
  .domaine-menu{
    display: none;
  }
}

.bt-offres{
  @extend .cta;
  @extend .gradient-v;
  width: 13rem;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  color:white;
  font-weight: bold;
  border:none;
  padding: 0.5rem;
  @include fz(2);
}

.bt-top{
  background-color: $orange;
  border-radius:50%;
  position: fixed;
  bottom: 10rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  @include svg(picto_fleche_t, 50% 50%, 60%);
  @include opacity(0);
  @include transition(opacity 0.2s ease-out);

}

.ok{
  @include opacity(1);
}

.nok{
  @include opacity(0);
}

.dark-layer{
    padding: 6rem 0rem;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(black,0.51);
    text-align: center;
}

.c-picto {
    display: inline-block;
    margin:0rem 2rem;

    &:nth-child(1) {
       @include animation(picto3 1.5s ease-in-out 1);
    }
    &:nth-child(2) {
       @include animation(picto2 1.5s ease-in-out 1);
    }
    &:nth-child(3) {
       @include animation(picto1 1.5s ease-in-out 1);
    }
    &:nth-child(4) {
       @include animation(picto2 1.5s ease-in-out 1);
    }
    &:nth-child(5) {
       @include animation(picto3 1.5s ease-in-out 1);
    }
}


.webform-client-form {
  display: block;
  //width: 50%;
  padding: 2rem;
  .webform-component{
    label{
        @include fz(3);
        margin-bottom: 0.8rem;
      }
    input, textarea{
      background-color: $gris;
      border-radius: 0.3rem;
      padding: 0.666rem;
      border:0px;
      width: 100%;
      outline: none;
       @include transition(all 0.2s ease-out);
      border-top:2px solid rgba(black,0);
      @include fz(2);
      &:active{
        background-color: rgba(black,0.2);
      }
      &:focus{
        background-color: rgba(black,0.1);
        border-top:2px solid rgba(black,0.2);
          .form-required{
            color:$bleu;
          }
      }
    }

    textarea{
      min-height: 15rem;
    }



    .form-required{
      color:$nuit;
    }


  }
}

.webform-submit{
    @extend .cta;
    background-color: #fff;
    cursor:pointer;
    float: right;
    margin-right: 2rem;
}

.webform-client-form .webform-component {

    .form-managed-file{
      position: relative;

        .form-file{
          background-color: white;
          display: inline-block;
          font-size: 0.8rem;
          width: 82%;
          line-height: 1rem;
          position: relative;
          border:none;
          color:white;

          &:after{

            display: block;
            content:"Parcourir";
            color:$orange;
            @include fz(1);
            position: absolute;
            //width: 40%;
            //height: 100%;
            padding: 0rem 2rem;
            top:0px;
            background-color: white;
            left:0px;
            cursor:pointer;
            line-height: 2.4rem;
            @extend .cta;

          }

        }

        .file-icon{
          display: none;
        }
        a{
          color:$orange;
          font-weight: bold;
          @include fz(2);
        }
        .form-submit{
          background-color: white;
          display: inline-block;
          @extend .cta;
          position: absolute;
          right: 0rem;
          width: auto;
          top: 0.2rem;
          cursor:pointer;
          background-color: $orange;
          color:white;
          @extend .gradient-h;
          border:none;

        }

    }
    .description{
      color:rgba(black,0.5);
      padding-left: 0.2rem;
      padding-top: 1rem;
    }

}

.node-type-webform{
    .l-content{
    @include main-padding();
  }
}

.node-type-poste{

  .l-content{
    @include main-padding();
  }
 
  h4{
    @include fz(4);
  }
  .l-content{
    .cta{
      margin:1rem;
      margin-left: 3rem;
    }
    p{
      word-wrap: break-word;
      @include fz(2);
    }
    ul{
      @include fz(2);
      @extend .ul-style;
    }

     h1{
    @include fz(5);
    font-weight: 700;
    display: block;
    text-align: center;
    padding: 2rem;
    position: relative;
    width: 100%;
    padding-bottom: 0rem;

    &:after{
      content:"";
      width: 10%;
      height: 5px;
      @extend .gradient-h;
      margin:0 auto;
      position: relative;
      display: block;
      margin-bottom: 0rem;
      margin-top:2rem;
    }

  }
  }
  

  .caracteristiques{
    padding: 3rem;
    padding-bottom: 5rem;
      background-color: $gris;
  }

  .description{
    padding: 3rem;
      display: inline-block;
      vertical-align: top;
      width: 49%;
      
      
  }

  .qualites{
    padding: 3rem;
      display: inline-block;
      vertical-align: top;
      width: 49%;
      border-left:1px solid $gris;
      border-bottom:1px solid $gris;
      background-color: #fff;
      margin-top:-3rem;
      padding-top: 6rem;
  }

}