@import "breakpoint";
@import "../variables/variables";
@import "../variables/mixin";

@include keyframes(picto1) {
  0% {

     @include translate(0px,0px);
     @include opacity(0);

  }

  30% {

     @include translate(0px,0px);
     @include opacity(0);

  }


  60% {

     @include translate(0px,-20px);
     @include opacity(0.5);

  }

  100% {


      @include translate(0px,0px);
      @include opacity(1);

   }
}

@include keyframes(picto2) {
  0% {

     @include translate(0px,0px);
     @include opacity(0);

  }

  40% {

     @include translate(0px,0px);
     @include opacity(0);

  }


  70% {

     @include translate(0px,-20px);
     @include opacity(0.5);

  }

  100% {


      @include translate(0px,0px);
      @include opacity(1);

   }
}
@include keyframes(picto3) {
  0% {

     @include translate(0px,0px);
     @include opacity(0);

  }

  50% {

     @include translate(0px,0px);
     @include opacity(0);

  }


  80% {

     @include translate(0px,-20px);
     @include opacity(0.5);

  }

  100% {


      @include translate(0px,0px);
      @include opacity(1);

   }
}




.histoire, .centre-formation{

    .c-header{
        margin: 5rem 0rem;
        background-attachment: fixed;
        @include jpg(histoire_bg_header,50% 50%,cover);
        text-align: center;

        .dark-layer{
            padding: 4rem 0rem;
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(black,0.51);
        }

        .c-picto{
            display: inline-block;
            margin:0rem 2rem;
            vertical-align: middle;

            &:nth-child(3) {
               @include animation(picto1 1.5s ease-in-out 1);
            }

            &:nth-child(2) {
               @include animation(picto2 1.5s ease-in-out 1);
            }
              &:nth-child(4) {
               @include animation(picto2 1.5s ease-in-out 1);
            }

            &:nth-child(1) {
               @include animation(picto3 1.5s ease-in-out 1);
            }
            &:nth-child(5) {
               @include animation(picto3 1.5s ease-in-out 1);
            }

            img {

                width:9em;

            }

        }

        h2{
            font-weight: 900;
            color:white;
            text-transform: uppercase;
            font-size: 1.5rem;
            max-width: 14rem;
        }
    }

}

h4{
  @include fz(4);

  font-weight: 900;
  margin-bottom: 1.5rem;
  text-transform: uppercase;

}

.c-block-histoire {

    
    display: block;
    margin: 0 auto;
    padding:5px;
    @include main-padding();
    margin-top:1rem;
    margin-bottom: 1rem;

     @include breakpoint($tablet){

          margin-top:7rem;
          margin-bottom: 6rem;

     }


    .c-blanc{

       background-color: white;
       padding: 3rem;
       position: relative;
       perspective: 1000px;
       min-height: 27vh;

    }

    .c-text{
        width:  100%;
        position: relative ;
        display: block;
        vertical-align: top;

         @include breakpoint($tablet){
           display: inline-block;
            width:  47%;
         }

        .c-cta{
            display: block ;
            width:  100%;
            text-align: center  ;
        }
        a{

            display: inline-block ;

            margin-top: 2rem;

        }
          
             p, li{
                font-size: 1.1rem;
                line-height: 1.4rem;

             }

             strong{
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1.3rem;
                margin-top:3rem;
                display: block;
             }
    }

    .c-img{

       
         width:   100%;
        height: 300px;
        position: relative;
        display: block;
        vertical-align: top;
        right: 0rem;
         @include jpg(histoire_photo,50% 50%, cover);
        min-height: 35vh;
        top:0%;
        
         @include breakpoint($tablet){
          right: 2rem;
          @include translate(0px,-50%);
           top:50%;
            position: absolute;
           width: 47%;
            height: 115%;
         }
        &:after{

            content:"";
            display: block ;
            height: 5px;
            width: 100%;
            position: absolute;
            bottom:-1px;
            left:0px;
            @extend .gradient-h;

        }

    }

}

.c-block-histoire-introduction {


    display: block;
    margin: 0 auto;
    padding:5px;
    @include main-padding();
    margin-top:1rem;
    margin-bottom: 1rem;

     @include breakpoint($tablet){

          margin-top:7rem;
          margin-bottom: 6rem;

     }


    .c-blanc{

       background-color: white;
       padding: 3rem;
       position: relative;
       perspective: 1000px;
       min-height: 27vh;

    }

    .c-text{
        width:  100%;
        position: relative ;
        display: block;
        vertical-align: top;

         @include breakpoint($tablet){
           display: inline-block;
            width:  47%;
         }

        .c-cta{
            display: block ;
            width:  100%;
            text-align: center  ;
        }
        a{

            display: inline-block ;

            margin-top: 2rem;

        }

             p, li{
                font-size: 1.1rem;
                line-height: 1.4rem;

             }

             strong{
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1.3rem;
                margin-top:3rem;
                display: block;
             }
    }

    .c-img{


         width:   100%;
        height: 300px;
        position: relative;
        display: block;
        vertical-align: top;
        right: 0rem;
         @include jpg(histoire_photo,50% 50%, cover);
        min-height: 35vh;
        top:0%;

         @include breakpoint($tablet){
          right: 2rem;
          @include translate(0px,-50%);
           top:50%;
            position: absolute;
           width: 47%;
         }
        &:after{

            content:"";
            display: block ;
            height: 5px;
            width: 100%;
            position: absolute;
            bottom:-1px;
            left:0px;
            @extend .gradient-h;

        }

    }

}

.centre-formation{

  .c-block-offres{
      margin-top: 2rem;
    .ss{
      text-align: center;
      @include fz(3);
      margin-bottom: 2rem;
      @include main-padding();
    }
    h4{
      text-align: center;
    }

    .cc{
      .views-row{
        padding: 0px;
       
        ul{

       width: 100%;
          height: 100%;
        }
        li{
          width: 100%;
          height: 100%;
        }
        a{
          display: block;
          width: 100%;
          height: 100%;
          color:black;
           padding: 2rem;
           text-align: left;
        }
      }
    }

  }

    .c-header{
        margin: 0rem 0rem;
        background-attachment: fixed;
        @include jpg(histoire_bg_header,50% 50%,cover);
        text-align: center;

        h2{
           @include fz(3);
          max-width: 23rem;
        }

        .dark-layer{
            padding: 3rem 0rem;
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(black,0.51);

            h4{

              @include fz(4);
              color:white;
              padding: 1rem;
            }
        }

        .c-picto{
          
            margin:0rem 2rem;
            vertical-align: top;


            img {


                height: 7em;
                margin-bottom: 2rem;
                width: auto;

            }

        }

    }

}

.c-header {

    background-color: transparent !important;

    &.phrases-valeurs {

        background-image: none !important;
        color:black;

        .dark-layer {

            background-color: transparent !important;

                .c-picto {

                    padding: 5rem 1rem;
                    background-color: $gris;
                    //min-height: 150px;

                h2 {

                    max-width: 30rem;
                    width: 38rem;
                    //text-align: left;
                    margin: 0 auto;
                    color:black;
                    font-weight: 200;


                    &.phrase {


                        text-transform: lowercase;
                        font-style: italic;
                        font-size:1.5rem;

                        &:first-letter {
                            text-transform: uppercase;
                        }

                    }

                    &.valeur {

                        font-size:1.5rem;
                        font-weight: 200;
                        font-size:2rem;
                        padding-top:1rem;
                        //text-align: right;

                    }

                }

                &.c-picto-cle {

                    margin: 0;
                    display: inherit;

                    h2 {

                        margin: 0 auto;
                        text-align: center;
                        max-width: 100%;
                        width: 76rem;
                        font-size:2rem;
                        font-weight: 800;

                    }

                }

            }


        }

        .phrases-container-2 {

            padding-top:3rem;

        }


    }

}


