@import "breakpoint";
@import "../variables/variables";

.home {

    .block-all {
        position:relative;

        .block-img {
            width: 100%;

            @include breakpoint($laptop){
                width: 100%;
            }

            img{
                width :100%;
                height :auto;
                @include breakpoint($tablet){
                    height:auto;
                    max-width:100%;
                }
            }
        }

        .block-w {
            @include main-padding();

            color: black; 
            display: block;  
            position: absolute;  
            top:20%; 
            width:100%;

             @include breakpoint($tablet){
                top:30%; 

             }

            .title-home {

                text-transform: uppercase;
                font-family: Actolis;
                font-weight: bold;
                
                //@include fz(6);
                font-size: 2.5rem;

                text-align: center;
                letter-spacing: 1rem;

                @include breakpoint($tablet) {
                     @include fz(6);
                   text-align: left;
                   display: inline-block;  
                }

                &:after{

                    content:"";
                    display: block ;
                    height: 5px;
                    width: 60%;
                    position: relative;
                    margin-top: 31px;
                    margin-left: auto;
                    margin-right: auto;
                    text-align:center;
                    @extend .gradient-h;


                }

            }

            .par-home {

               // margin: 2rem 0;
                @include fz(5);
                padding-top: 1.2rem;
                 text-align: center;
                @include breakpoint($tablet){
                     @include fz(4);
                   text-align: left;
                }
            }
        }

        .swiper-pagination {

             z-index: 2;
            display: block;
            position: absolute;
            top: 90%;
            /* width: 100%; */
//            left: 1.5%;
//            color:$orange;
//            background: $orange;
           // @include main-padding();

            left:50%;
            @include translate(-50%,0px);

            @include breakpoint($tablet){
                top: 56%;
                left:13%;
                @include translate(0px,0px);
            }

        }

        .swiper-pagination-clickable .swiper-pagination-bullet {

          margin-left: 19px;
          color:$orange;
          background: $orange;

        }
    }

.dark-layer{
    padding: 2rem 0rem;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(black,0.51);
    text-align: center;
        color: white;
     @include breakpoint($tablet){
             padding: 6rem 0rem;
        }
}

    .c-picto {
        display: inline-block;
        margin:0rem 2rem;

        &:nth-child(1) {
           @include animation(picto3 1.5s ease-in-out 1);
        }
        &:nth-child(2) {
           @include animation(picto2 1.5s ease-in-out 1);
            img {
                width:6em;
            }
        }
        &:nth-child(3) {
           @include animation(picto1 1.5s ease-in-out 1);
        }
        &:nth-child(4) {
           @include animation(picto2 1.5s ease-in-out 1);
        }
        &:nth-child(5) {
           @include animation(picto3 1.5s ease-in-out 1);
        }

        img {
           
            height: 5rem;
            width:  auto;

        }
        width: 40%;
         margin:2rem 0rem;

        @include breakpoint($tablet){
              display: inline-block;
              width:    auto;
                margin:0rem 2rem;
              img {
             height: 7rem;
            width:  auto;

                }
        }

    }

    .chiffres {

        text-transform: uppercase;
        font-family: "Source sans pro Black", sans-serif;
        @include fz(4);
        font-weight: bold;

    }

    .acto-news {
        background-color: $gris;
        padding: 0rem 2rem;
        padding-bottom: 6rem;
        @include breakpoint($laptopl) {
            @include main-padding(15vw,15vw);
        }
       

        .swiper-pagination{
            //position: relative;
            bottom:2rem;
        }

        .swiper-button-next,.swiper-button-prev{
           
            top:92%;
        }

         @include breakpoint($tablet) {
            padding: 0rem 9rem;
              .swiper-pagination{
            //position: relative;
            bottom:2rem;
        }

        .swiper-button-next,.swiper-button-prev{
           
            top:50%;
        }
        }
        

        h4{
            margin-top:2rem;
            margin-bottom: 1rem;
        }


        .body-acto-news {
           
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            width: 100%;
            padding-bottom: 3rem;
            @include breakpoint($tablet) {
                padding-bottom: 1rem;
               width: 60%;
               margin-left: 2%;
            }

            h1{
                @include fz(4);
                display: block;
            }


        }
        .image-acto-news {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            @include breakpoint($tablet) {
              width: 35%;
            }

            img {

                width: 100%;
                height: auto;

            }
        }

    }

}


