@import "breakpoint";
@import "../variables/variables";
@import "../variables/mixin";

  .l-menu{

        background-color: $orange;
        padding: 0rem;
        text-align: center;
        display: block;
        width: 100%;

        ul{

           @extend .ul-nav;
           li{
                a{
                    padding:2rem;
                    position: relative;

                    @include transition(all 0.2s ease-out);

                    &:hover{
                        background-color: rgba(white,0.1);


                        &:after {

                             background-color: rgba(#fff,0.3);

                        }

                    }
                    &.active{

                            &:after {

                   
                        background-color: rgba(#fff,1);

                            }
                    }

                    &:after {

                        display: block;
                        content: "";
                        position: absolute;
                        bottom:1rem;
                        width: 3rem;
                        left:50%;
                        @include translate(-50%,0px);
                        height: 0.22rem;
                        background-color: rgba(#fff,0);

                    }

                }
           }
      }

        .domaine-menu{
            ul{
                 @extend .ul-nav;
                 padding:1rem 0rem;
                 font-size: 0px;
                 li{
                    padding: 0rem 0rem;
                    a{
                        background-image: none !important;
                        background-image: url("") !important;
                        //padding: 2rem 2rem;

                        .c-img{
                             display: inline-block;
                              vertical-align: middle;
                              margin-right: 0.5rem;
                            
                                @extend .c-icone;

                                display: inline-block;
                                vertical-align: middle;
                                width: 5rem;
                                height: 5rem;
                                background-size: 60%;
                                margin:0px;
                                @include transition(all 0.2s ease-out);
                                &:before{
                                    border-width: 2px;
                                    @include translate(0px,0px);
                                    @include transition(all 0.2s ease-out);
                                }
                                img{
                                    width: 60%;
                                    height: auto;
                                    left: 20%;
                                    top:20%;
                                    position: relative;
                                }

                                margin-right:2rem;
                            
                        }

                       
                        span{

                                display: inline-block;
                                text-align: center;
                                vertical-align: middle;
                                text-transform: uppercase;
                                @include fz(3);
                                font-weight: 700;
                                max-width: 20vw;
                                width: auto;
                                //padding-left: 2rem;

                        }

                       

                         &:hover{
                            background-color: transparent;

                            &:after {
                                
                                background-color:transparent;


                            }

                            .c-img{
  
                                &:before{
                                    background-color: rgba(white,0.1);
                                }

                            }
                        }
                    }
                

                    &:nth-child(2){
                        border-left:2px solid white;
                        border-right:2px solid white;
                    }
                 }
            }
             @extend .gradient-h;
             width: 100%;
        }

    }


.active-bt{
    a{
        position: relative;
        &:after{
            display: block;
            content: "";
            position: absolute;
            bottom:1rem;
            width: 3rem;
            left:50%;
            @include translate(-50%,0px);
            height: 0.22rem;
            background-color: #fff;

        }
    }
}

.page-node-9{
    .domaine-menu{
        ul{
            li{
                &:nth-child(1){
                    @extend .active-bt;
                }
            }
        }
    }
}
.page-node-8{
    .domaine-menu{
        ul{
            li{
                &:nth-child(2){
                    @extend .active-bt;
                }
            }
        }
    }
}
.page-node-2{
    .domaine-menu{
        ul{
            li{
                &:nth-child(3){
                    @extend .active-bt;
                }
            }
        }
    }
}