@import "breakpoint";
@import "../variables/variables";
@import "../variables/mixin";

  .l-menu{

        background-color: $orange;
        padding: 0rem;
        text-align: center;
        display: block;
        width: 100%;

        ul{

           @extend .ul-nav;
           li{
                a{
                    padding:2rem 2rem;
                    padding-bottom: 0.5rem;
                    @include transition(all 0.2s ease-out);

                    &:hover{
                        background-color: rgba(white,0.1);


                        &:after {

                            margin:0.5rem 0.5rem;
                            border-bottom: 2px solid rgba(white,0.3);

                        }

                    }
                    &.active{

                            &:after {

                                content:"";
                                border-bottom: 2px solid white;
                                margin:0.5rem 0.5rem;
                                display: block;

                            }
                    }

                    &:after {

                        content:"";
                        border-bottom: none;
                        margin:0;
                        display: block;
                        border-bottom: 2px solid transparent;
                                margin:0.5rem 0.5rem;

                    }

                }
           }
      }

        .domaine-menu{
            ul{
                 @extend .ul-nav;
                 padding:1rem 0rem;
                 li{
                    padding: 0rem 0rem;
                    a{
                        background-image: none !important;
                        background-image: url("") !important;
                        //padding: 2rem 2rem;

                        .c-img{
                             display: inline-block;
                              vertical-align: middle;
                              margin-right: 0.5rem;
                            
                                @extend .c-icone;

                                display: inline-block;
                                vertical-align: middle;
                                width: 5rem;
                                height: 5rem;
                                background-size: 60%;
                                margin:0px;
                                @include transition(all 0.2s ease-out);
                                &:before{
                                    border-width: 2px;
                                    @include translate(0px,0px);
                                    @include transition(all 0.2s ease-out);
                                }
                                img{
                                    width: 60%;
                                    height: auto;
                                    left: 20%;
                                    top:20%;
                                    position: relative;
                                }
                            
                        }

                       
                        span{

                                display: inline-block;
                                text-align: center;
                                vertical-align: middle;
                                text-transform: uppercase;
                                @include fz(3);
                                font-weight: 700;
                                max-width: 14rem;
                                padding-left: 2rem;

                        }

                       

                         &:hover{
                            background-color: transparent;

                            &:after {
                                
                                border-color:transparent;

                            }

                            .c-img{
  
                                &:before{
                                    background-color: rgba(white,0.1);
                                }

                            }
                        }
                    }
                

                    &:nth-child(2){
                        border-left:2px solid white;
                        border-right:2px solid white;
                    }
                 }
            }
             @extend .gradient-h;
             width: 100%;
        }

    }
