@import "breakpoint";
@import "../variables/variables";
@import "../variables/mixin";

.menu {

    display:block;

}
.l-menu{

    .l-region--header {

            ul{
                @include breakpoint($tablet) {
                    height: 50px;
                }

            }

        }

        padding: 0rem;
        text-align: left;
        
        width: 100%;
        top: 0px;
        position: fixed;
        z-index: 100;
        
        font-size: 1.5rem;

        visibility: hidden; 
        background-color: rgba(white,0.9);
        left:-90%;

        @include opacity(0);
        @include transition(all 0.2s ease-in-out);

        @include breakpoint($tablet) {
            visibility: visible;    
            @include opacity(1);
            left:0%;
             text-align: center;
                background-color: $orange;
            position: relative;
            display: block;
            z-index: 1;
        }
        &.o {
            display: block;
            visibility: visible;    
            height: 100%;
            width: 80%;
            overflow: auto;
            top: 0px;
          
            left:0%;
            @include opacity(1);
           
        }
         &.h {
           display: block;
            visibility: visible;    
            height: 100%;
            width: 80%;
            overflow: auto;
            top: 0px;
             @include opacity(0);
            left:-90%;
           
        }
        ul{
           @extend .ul-nav;
           text-align:left;
            @include breakpoint($tablet) {
                text-align: center;
            }
           li{
                display: block;
                width: 100%;
                background-color: $orange;
                &.first{
                    padding-top:3rem;
                };
                &.last{
                    padding-bottom:1rem;
                };
                @include breakpoint($tablet) {
                    display: inline-block;
                    width: auto;
                     &.first{
                    padding-top:0rem;
                };
                &.last{
                    padding-bottom:0rem;
                };
             }
                a{
                    padding:2rem;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    position: relative;
                    width: 100%;
                    background-color: $orange;
                        @include fz(3);
                        font-weight: 700;
                        text-transform: uppercase;  
                    @include breakpoint($tablet) {
                         font-weight: 300;
                        text-transform: none;
                        font-size: inherit;
                        padding:1.25rem 2rem;
                        width: auto;
                        background-color: transparent;
                    }
                    @include breakpoint($laptop) {

                        padding:0.5rem 2rem;

                    }

                    @include transition(all 0.2s ease-out);
                    @include breakpoint($tablet) {

                    &:hover{
                        background-color: rgba(white,0.1);

                        &:after {

                             background-color: rgba(#fff,0.3);
                        }
                    }

                }
                    &.active{
                            &:after {
                        background-color: rgba(#fff,1);

                            }
                    }
                    &:after {

                        display: block;
                        content: "";
                        position: absolute;
                        bottom:2rem;
                        width: 3rem;
                        left:2rem;
                        @include breakpoint($tablet) {
                            bottom:0.33rem;
                            left:50%;
                             @include translate(-50%,0px);
                        }
                        height: 0.22rem;
                        background-color: rgba(#fff,0);
                    }
                }
           }
      }

        .domaine-menu{
            ul{
                 @extend .ul-nav;
                 padding:1rem 0rem;
                 font-size: 0px;
                  text-align:left;
            @include breakpoint($tablet) {
                        text-align: center; 
            }
                 li{
                    padding: 0rem 0rem;
                     background-color: transparent;
                    a{
                        background-image: none !important;
                        background-image: url("") !important;
                        background-color: transparent;
                    @include breakpoint($tablet) {
                        
                        background-color: transparent;
                    }
                        //padding: 2rem 2rem;
                        .c-img{
                             display: inline-block;
                              vertical-align: middle;
                              margin-right: 0.5rem;
                            
                                @extend .c-icone;

                                display: inline-block;
                                vertical-align: middle;
                                width: 5rem;
                                height: 5rem;
                                background-size: 60%;
                                margin:0px;
                                @include transition(all 0.2s ease-out);
                                &:before{
                                    border-width: 2px;
                                    @include translate(0px,0px);
                                    @include transition(all 0.2s ease-out);
                                }
                                img{
                                    width: 60%;
                                    height: auto;
                                    left: 20%;
                                    top:20%;
                                    position: relative;
                                }
                                margin-right:2rem;
                        }
                        span{
                                display: inline-block;
                                text-align: left;
                                vertical-align: middle;
                                text-transform: uppercase;
                                @include fz(4);
                                font-weight: 700;
                                max-width: 20vw;
                                width: auto;
                                //padding-left: 2rem;

                                @include breakpoint($laptop) {

                                        text-align: center; 

                                }
                        }

                         &:hover{
                            background-color: transparent;

                            &:after {
                                
                                background-color:transparent;


                            }

                            .c-img{
  
                                &:before{
                                    background-color: rgba(white,0.1);
                                }
                            }
                        }
                    }
                    &:nth-child(2){

                        @include breakpoint($laptop) {

                            border-left:2px solid white;
                            border-right:2px solid white;

                        }
                    }
                 }
            }
             @extend .gradient-h;
             width: 100%;
        }

    .user{
        display: block;
        .menu{
                padding-bottom: 3rem;
                li{
                    background-color: white;
                    a{
                       background-color: white;
                       color:black;
                    }
                }
            }
        }
    }


.active-bt{
    a{
        position: relative;
        &:after{
            display: block;
            content: "";
            position: absolute;
            bottom:1rem;
            width: 7rem;
            left:23.5%;
            @include breakpoint($tablet) {
                left:60%;
                bottom:0rem;
            }
            @include translate(-50%,0px);
            height: 0.22rem;
            background-color: #fff;

        }
    }
}

.page-node-9{
    .domaine-menu{
        ul{
            li{
                &:nth-child(1){
                    @extend .active-bt;
                }
            }
        }
    }
}
.page-node-8{
    .domaine-menu{
        ul{
            li{
                &:nth-child(2){
                    @extend .active-bt;
                }
            }
        }
    }
}
.page-node-2{
    .domaine-menu{
        ul{
            li{
                &:nth-child(3){
                    @extend .active-bt;
                }
            }
        }
    }
}

