@import "breakpoint";
@import "../variables/variables";
@import "../variables/mixin";

.view-content {

    .views-row {

        .partenaires_list {

            &.c-gris {

               position: relative ;
               perspective: 1000px;
               margin-bottom: 10rem;
               @extend .gradient-h;
                width: 80%;

                margin-left: auto;
                margin-right: auto;

                .c-text{

                    background-color: $gris;

                    padding-top:3rem;
                    padding-bottom:3rem;

                    position: relative ;
                    vertical-align: top;
                    width: 100%;

                    .c-cta{
                        display: block ;
                        width:  100%;
                        text-align: center  ;
                    }

                    strong{
                        @include fz(3);
                        text-transform: uppercase;
                        font-weight:    600;
                        margin-top: 2rem;
                        display: block;
                        width:  100%;
                        position: relative;
                    }

                    a{
                        display: inline-block ;
                        margin-top: 2rem;
                    }
                      h1{
                          @include fz(4);
                         font-weight: 900;
                         margin-bottom: 1.5rem;
                         text-transform: uppercase;
                     }
                         p, li{
                            @include fz(2);
                         }

                    h4 {
                        p {
                             @include fz(4);
                             line-height: 2rem;
                             font-weight:   600;
                             margin-bottom: 1rem;
                             text-transform: uppercase;
                        }
                    }
                }

                .c-img {

                    z-index: 10;
                    position: absolute;
                    width: 50%;
                    height: 110%;

                    display: none;
                    @include breakpoint($tablet){
                        display: block;
                      }

                    background-size: contain;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;

                    top:50%;

                    vertical-align: top;

                    &:after {
                        background-color: transparent;
                        background-image: none;
                    }
                }

                &:after {
                    content:"";
                    display: block ;
                    height: 5px;
                    width: 100%;
                    position: absolute;
                    bottom:-1px;
                    left:0px;
                    @extend .gradient-h;
                }
            }
        }

        &:nth-child(odd) {
            .c-img {
                right:50%;
                @include translate(0%,-50%);
            }
            .c-text {
                padding-left: 3rem;
                padding-right: 3rem;
                @include breakpoint($tablet){
                    padding-left: 56.66%;
                    float: right;

                  }
            }
        }

        &:nth-child(even) {
            .c-img {
                left:50%;
               @include translate(0%,-50%);
            }
            .c-text {
                padding-right: 3rem;
                padding-left: 3rem;
                  @include breakpoint($tablet){
                    padding-right: 60%;
                    float: left;
                  }
            }
        }
    }
}
