@import "singularitygs";
@import "breakpoint";
@import "../variables/variables";
@import "../variables/mixin";
@import "../variables/charte";
@import "../variables/typos";
@include add-grid(12);
@include add-gutter(0);




////////////////////////////////// CHARTE ////////////////////////////////// 


.c-slider{
    height: 90vh;
    position: relative;
    width: 100%;

    .slide{
        position: absolute;
        left:0px;
        top:0px;
        width: 100%;
        height: 100%;
        padding-top:15vh;

        @include jpg( home_header_bg_1 ,50% 50%,cover);

        .c-text{
            padding-left:$m-padding;
            width: 47rem;
            h1{
                text-transform: uppercase;
                font-weight: 800;
                font-size: 6rem;
                letter-spacing: 1rem;
                line-height: 7rem;
                display: block;
                position: relative;
                width: auto;

            }
            p{
                letter-spacing: 0.2rem;
                line-height: 2.5rem;
            }
            .big{
                font-size: 2rem;
            }
            .sep{
                height: 0.28rem;
                display: block;
                margin: 0 auto;
                width: 30%;
                @extend .gradient-h;
                margin-top:1rem;
                margin-bottom: 1.2rem;
            }
        }
    }
}

@include keyframes(scroll) {
  0% { 
      
    @include translate(0px,0%);
    background-position: 50% 50%;
       
   }

  60% { 
      
    @include translate(0px,-20%);
    background-position: 50% -100%;
       
   }

  100% { 
     

      @include translate(0px,0%);
      background-position: 50% 50%;
     

   }
}


.bt-scroll{
    background-color: $orange;
    width: 4rem;
    height: 4rem;
    border-radius:50%;
    display: block;
    @include svg(picto_scroll,50% 50%, 1.4rem);
    position: absolute;
    left:50%;
    margin-left:-2rem;
    z-index: 10;
    bottom:20vh;

    @include animation(scroll 1.5s ease-in-out 3);

    &:hover{
        @include opacity(0.8);
    }
    
}

.cta{
    padding:0.5rem 3rem;
    color:$orange;
    border:0.18rem solid $orange;
    border-radius:2rem;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    @include transition(all 0.2s ease-out);

    &:hover{

        background-color: $orange;
        color:white;
        @include transform(scale(0.95));
               
    }
    
}

.c-icones-cta{

    @include jpg(home_bg_flou,50% 50%, cover);
    text-align: center;
    @include main-padding();

    .b-i{
        display: inline-block;
        vertical-align: top;
        width: 24.5%;
        padding:3rem;
        padding-top:1rem;
        color:white;
         text-align: center;


        h3{
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.2rem;
            margin-bottom: 0.3rem;

        }
        p{
            font-size: 1.1rem;
            line-height: 1.5rem;
             letter-spacing: 0.2rem;
        }

         .picto{

                position: relative;
                height: 8rem;
                width: 8rem;
                display: inline-block;
                margin:1.5rem;
                

        }
    }

    .i1{
        .picto{
             @include png(picto_home_1,50% 50%,contain);
        }
       
    }
    .i2{
        .picto{
             @include png(picto_home_2,50% 50%,contain);
        }
       
    }
    .i3{
        .picto{
             @include png(picto_home_3,50% 50%,contain);
        }
       
    }
    .i4{
        .picto{
             @include png(picto_home_4,50% 50%,contain);
        }
       
    }
}



.c-big-cta{
    
    text-align: center;
    margin-top:-15vh;
    margin-bottom: 8rem;

    .b-big-cta{
        
        width: 22vw;
        height: 22vw;
         text-align: center;
         position: relative;
         display: inline-block;
         vertical-align: top;
         margin:2vw;
        
        .gradient{
            z-index: 1;
            @extend .gradient-h;
            @include opacity(0.8);
            position: absolute;
            width: 100%;
            height: 100%;
            @include transition(opacity 0.2s ease-in-out);
        }

        a{

            position: relative;
            z-index: 20;
            display: block;
            height: 100%;

            .cta{
                position: absolute;
                bottom:-4rem;
                display: block;
                left:50%;
                 @include translate(-50%,0px);
            }

            h3{
                font-size:1.6rem;
                text-transform: uppercase;
                font-weight: 700;
                color:white;
                line-height: 2rem;
                letter-spacing: 0.2rem;
                height: 40%;
            }

            text-align: center;

            .picto{

                position: relative;
                height: 10rem;
                width: 10rem;
                display: inline-block;
                margin:2.5rem;
                margin-bottom: 1.5rem;
               


                &:before{
                    content:"";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    border:0.3rem solid white;
                    @include translate(-50%,0px);

                    background-color: rgba(white,0);
                    @include transition(all 0.2s ease-in-out);


                }
            }

        }

        &:hover{
            .gradient{
                @include opacity(0.6);
            }
            .cta{
                 background-color: $orange;
                color:white;
               bottom:-4.2rem;
            }
            .picto{
              
                &:before{
                     background-color: rgba(white,0.2);

                      border:0.25rem solid white;

                }


               
            }
        }

    }

}

.b1{
   @include jpg(home_bg_medicaux,50% 50%,cover);
    .picto{
         @include svg(picto_home_medicaux,50% 50%,5rem);
    }
}
.b2{
   @include jpg(home_bg_pharma,50% 50%,cover);
    .picto{
         @include svg(picto_home_pharma,50% 50%,5rem);
    }
}

.b3{
   @include jpg(home_bg_cosmetique,50% 50%,cover);
    .picto{
         @include svg(picto_home_cosmetique,50% 50%,5rem);
    }
}















////     ////     ////     ////     ////     ////     ////     ////     ////


body.admin-menu.adminimal-menu {
    margin-top: 30px !important;
}

a {

    text-decoration: none;
    &:hover,
    &:link,
    &:active,
    &:visited {
        color: black;
        text-decoration: red;
        cursor:pointer;
    }

}

.l-off{
    display: none;
}

.l-header {


   background-color: white;

   // max-width: $max;

   
    display: none;
    position: relative;
    @include main-padding();
    @include breakpoint($tablet) {
        display: block;
        margin:auto;
    }

   

    .logo {

    
        width: 50%;
        height: 6rem;
        background-color: $orange;

    

        text-align: center;
        padding:0.5rem;
        img{
            width:100%;
            max-width:8rem;

        }

    }

}

.burger {
    display: block;
    @include breakpoint($tablet) {
        display:none ;
    }
    /*
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    transition: all 1.5s;
    */
    top: $margin;
    right:$margin;
    //left: 83vw;
    position: fixed;
    width: 60px;
    height: auto;
    cursor: pointer;
    z-index:1000;
    /* $offsetX : 37.099998px;
        $offsetY : 20.4px;
        $offsetY_2 : 16.5px;
        $offsetY_3 : 24.4px;
        $widthX: 11.8px; */
    $offsetX: 10.8px;
    $offsetY: 15.7px;
    $offsetY_2: 31.4px;
    $offsetY_3: 47.1px;
    $widthX: 46.7438px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
    circle {
        opacity: 0.3;
    }
    #burger_1 {
        transform: translate(10.8px, 5.7px) rotate(0deg);
        transition: all 200ms linear;
        transform-origin: $widthX/2 $offsetY;
        fill: white;
    }
    #burger_2 {
        transform: translate(10.8px, 5.7px) rotate(0deg);
        fill: white;
    }
    #burger_3 {
        transform: translate(10.8px, 5.7px) rotate(0deg);
        transition: all 200ms linear;
        transform-origin: $offsetX+($widthX/2) $offsetY_3;
        fill: white;
    }
    &.o {
        #burger_1 {
            transform: translate($offsetX+2, 5.7px+($offsetY)/2) rotate(45deg);
        }
        #burger_2 {
            opacity: 0;
        }
        #burger_3 {
            transform: translate($offsetX+3, -(5.7px+($offsetY_2)/2)) rotate(-45deg);
            //translate(($offsetX), -($offsetY_3 - $offsetY_2))
        }
        #g10 {
            transform: translate(-0.1px, 0);
        }
    }
}

.l-page {
    @include background-grid($color: grey);
    margin: auto;
    max-width: $max;
}

.l-content {
    //background-color: yellow;

    position: relative;
    //height:2337px;
}
.l-shield{
    transition: height 0ms ease-in-out 400ms,
                opacity 400ms ease-in-out 0ms;
    opacity : 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 0;
    background-color: rgba(255,255,255,0.7);
    &.o {
         transition: height 0ms ease-in-out 0ms,
                opacity 400ms ease-in-out 0ms;
        opacity:1;
        height:100%;
    }
}



.l-footer {
   display: block;
    @include grid-span(12, 1);
}

.l-map {
    @include grid-span(12, 1);
    .bloc1 {
        background-color: white;
        min-height: 340px;
        height:340px;
        //@include grid-span(12,1);
        @include breakpoint($laptop) {
            @include grid-span(6, 7);
        }
    }
    .bloc2 {

        padding-top: 14px;
        min-height: 340px;
        background-color: #00a886;

        @include breakpoint($laptop) {
            @include grid-span(6, 7);
        }
        height: 341px;
        font-size: 20px;

        h1{
            font-size: 1.75rem;
        }

    }
    display: block;
}

.l-services {
    @include grid-span(12, 1);
}
