@import "variables";
@import "mixin";

@font-face {
    font-family: Actolis;
    src: url("../fonts/actolis.otf") format("opentype");
}


.c-form{
  margin-top: 3rem;
  margin-bottom: 2rem;
  h4{
    padding-left: 4rem;
  }

  @include breakpoint($tablet){
 margin-top: 10rem;
  margin-bottom: 4rem;
  }
}

.c-icone{
   position: relative;
    height: 10rem;
    width: 10rem;
    display: inline-block;
    margin:2.5rem;
    margin-bottom: 1.5rem;

    &:before{

        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border:0.3rem solid white;
        @include translate(-50%,0px);

        background-color: rgba(white,0);
        @include transition(all 0.2s ease-in-out);

    }
}

.c-icone_2{
   position: relative;
   height: 7rem;
    width: 7rem;
    display: inline-block;
    margin:0rem;
    //transform: scale(0.5);
    top:2rem;
    margin-bottom: 1rem;
    border-radius: 100%;
    border:0.22rem solid white;

    @include breakpoint($tablet){

        height: 9rem;
        width: 9rem;
        margin-bottom: 6rem;
        display: inline-block;
        margin:3.5rem;  
        margin-top:1rem;
        top:2rem;
    
    }
        


   }


////////////////////////////////// CHARTE ////////////////////////////////// 


.c-slider{
    height: 90vh;
    position: relative;
    width: 100%;

    .slide{
        position: absolute;
        left:0px;
        top:0px;
        width: 100%;
        height: 100%;
        padding-top:15vh;

        @include jpg( home_header_bg_1 ,50% 50%,cover);



        .c-text{
            padding-left:$m-padding;
            width: 47rem;
            h1{
                text-transform: uppercase;
                font-weight: 800;

                letter-spacing: 1rem;
                @include fz(6);
                display: block;
                position: relative;
                width: auto;
                font-family: Actolis;

            }
            p{
                //letter-spacing: 0.2rem;
                line-height: 2.5rem;
            }
            .big{
                 @include fz(5);
            }
            .sep{
                height: 0.28rem;
                display: block;
                margin: 0 auto;
                width: 30%;
                @extend .gradient-h;
                margin-top:1rem;
                margin-bottom: 1.2rem;
            }
        }
    }
}

@include keyframes(scroll) {
  0% { 
      
    @include translate(0px,0%);
    background-position: 50% 50%;
       
   }

  60% { 
      
    @include translate(0px,-20%);
    background-position: 50% -100%;
       
   }

  100% { 
     

      @include translate(0px,0%);
      background-position: 50% 50%;

   }
}


.bt-scroll{
    background-color: $orange;
    width: 4rem;
    height: 4rem;
    border-radius:50%;
    display: block;
    @include svg(picto_scroll,50% 50%, 1.4rem);
    position: absolute;
    left:50%;
    margin-left:-2rem;
    z-index: 10;
    bottom:20vh;
    @include opacity(1);
    @include transition(opacity 0.2s ease-out);
    @include animation(scroll 1.5s ease-in-out 3);

    display: none;

     @include breakpoint($tablet){
      display: block;
  }
    &:hover{
        @include opacity(0.8);
    }
    
}

.cta{
    padding:0.5rem 3rem;
    color:$orange;
    border:0.18rem solid $orange;
    border-radius:2rem;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
     @include fz(1);
    @include transition(all 0.2s ease-out);

    &:hover{

        background-color: $orange;
        color:white;
        @include transform(scale(0.95));
               
    }
    
}

.c-icones-cta{

    @include jpg(home_bg_flou,50% 50%, cover);
    background-attachment: fixed;
    text-align: center;
    @include main-padding();

    .b-i{
        display: inline-block;
        vertical-align: top;
        width: 24.5%;
        padding:3rem;
        padding-top:1rem;
        color:white;
         text-align: center;


        h3{
             @include fz(4);
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.2rem;
            margin-bottom: 0.3rem;

        }
        p{
             @include fz(2);
            line-height: 1.5rem;
            letter-spacing: 0.2rem;
        }

         .picto{

            position: relative;
            height: 8rem;
            width: 8rem;
            display: inline-block;
            margin:1.5rem;

        }
    }

    .i1{
        .picto{
             @include png(picto_home_1,50% 50%,contain);
        }
       
    }
    .i2{
        .picto{
             @include png(picto_home_2,50% 50%,contain);
        }
       
    }
    .i3{
        .picto{
             @include png(picto_home_3,50% 50%,contain);
        }
       
    }
    .i4{
        .picto{
             @include png(picto_home_4,50% 50%,contain);
        }
       
    }
}

.c-news{
    background-color: $gris;
    @include main-padding($m-padding*1.8,$m-padding*1.8);
    padding-top:3rem;
    padding-bottom:3rem;

    .slide{
       
        .c-text{
            color:$noir;
            width: 65%;
            padding-left:2rem;
            h4{
                  @include fz(4);
                 line-height: 2rem;
                 font-weight:   600;
                 margin-bottom: 1rem;
                 text-transform: uppercase ;
             }
             p{
                         @include fz(3);
             }
             display: inline-block;
             vertical-align: middle;
        }
        .c-img{

            display: inline-block;
            vertical-align: middle;
            width:  30%;
            img{
                width:  100%;
            }

        }
        
    }

}

.c-block{
        
    width: 96%;
    @include breakpoint($tablet){
        width:  74.1%;
    };
    //@include main-padding();
    
    display: block;
    margin: 0 auto;
    padding:5px;
    margin-top:1rem;
    margin-bottom: 1rem;
  
  @include breakpoint($tablet){
   margin-top:10rem;
    margin-bottom: 10rem;
  }

     @extend .gradient-h;

    .c-gradient{

       background-color: white;
       padding:3rem;
       position: relative ;
       perspective: 1000px;

    }

    .c-text{
        width:  100%;
        position: relative ;
        display: inline-block;
        vertical-align:    top;

        @include breakpoint($tablet){
                     width:  50%;
          }
      
        .c-cta{
            display: block ;
            width:  100%;
            text-align: center  ;
        }
        a{
           
            display: inline-block ;
           
            margin-top: 2rem;
       
        }
          h4{
                  @include fz(5);
                 line-height: 2rem;
                 font-weight:   600;
                 margin-bottom: 1rem;
                 text-transform: uppercase ;
             }
             p{
                         @include fz(3);
             }
    }

    .c-img{

        width: 40%;
        @include jpg(home_bg_join,50% 50%, cover);
        height:     130%;
        position: absolute ;
        display: block;
        vertical-align:    top;
        right: 2.5rem;
        top:-2.5rem;
        &:after{
            content:"";
            display: block ;
            height:     5px;
            width:  100%;
            position: absolute;
            bottom:-5px;
            left:0px;
            @extend .gradient-h;
             @include transition(all 2s ease-in-out);
          
        }
        @include transform(rotate3d(0, 0, 0, 0deg));
        @include transition(all 2s ease-in-out);

        display: none;  

          @include breakpoint($tablet){
                        display: block;  
          }
    }

    &:hover{
        .c-img{
             @include transform(rotate3d(0, 10, 0, -14deg));
             right: 3.5rem;
             &:after{
                @include opacity(0);

             }
        }
    }

}


.ul-style{
            list-style-image: url(../imgs/bullet2.png);
        list-style-position: outside;
        padding-left: 1rem;
        li{
                
            padding-left: 0.1rem;
            margin-bottom: 1rem;
            margin-top: 0.5rem;

        }
}

.c-text{

    p{
         @include fz(2);
    }

    ul{

        @extend .ul-style;
          


    }

}

.c-big-cta{
    
    text-align: center;
    margin-top:5px;
    margin-bottom: 1rem;

     @include breakpoint($tablet){
    margin-top:-15vh;
    margin-bottom: 8rem;

     }

    .b-big-cta{
        
        width: 30vw;
        height: 30vw;
       
         text-align: center;
         position: relative;
         display: inline-block;
         vertical-align: top;
         margin:0px;
         min-height: 16rem;
          @include breakpoint($tablet){
                margin:2vw;
                width: 22vw;
                height: 22vw;
                min-height: 100%;
                 min-height: 100%;
          }
        
        .gradient{
            z-index: 1;
            @extend .gradient-h;
            @include opacity(0.8);
            position: absolute;
            width: 100%;
            height: 100%;
            @include transition(opacity 0.2s ease-in-out);
        }

        a{

            position: relative;
            z-index: 20;
            display: block;
            height: 100%;

            .cta{
                position: absolute;
                bottom:-4rem;
                display: block;
                white-space: nowrap;
                left:50%;
                 @include translate(-50%,0px);
                 display: none; 

                @include breakpoint($tablet){
                  display: block;   
                }
            }

            h3{
                 @include fz(3);
                text-transform: uppercase;
                font-weight: 700;
                color:white;
                line-height: 2rem;
                letter-spacing: 0rem;
                height: 40%;
                padding: 0rem 0.1rem;
                padding-top: 1.2rem;
                 @include breakpoint($tablet){
                 padding: 0rem 3rem;
                 etter-spacing: 0.2rem;
                 @include fz(4);
                }
            }

            text-align: center;

            .picto{
                

                @extend .c-icone_2;
                img{
                    width:  60%;
                    height:     auto;
                    left:20%;
                    display: block;
                    top:20%; 
                    position: relative; 
                }
             
            }

        }

        &:hover{
            .gradient{
                @include opacity(0.6);
            }
            .cta{
                 background-color: $orange;
                color:white;
               bottom:-4.2rem;
            }
            .picto{
              
                &:before{
                     background-color: rgba(white,0.2);

                      border:0.25rem solid white;

                }


               
            }
        }

    }

}

.b1{
   @include jpg(home_bg_medicaux,50% 50%,cover);
//    .picto{
//         @include svg(picto_home_medicaux,50% 50%,5rem);
//    }
}
.b2{
   @include jpg(home_bg_pharma,50% 50%,cover);
//    .picto{
//         @include svg(picto_home_pharma,50% 50%,5rem);
//    }
}

.b3{
   @include jpg(home_bg_cosmetique,50% 50%,cover);
//    .picto{
//         @include svg(picto_home_cosmetique,50% 50%,5rem);
//    }
}

.swiper-button-next, .swiper-button-prev {

        &:before{

        content:"";
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border:0.3rem solid $orange;

        left:50%;
        top:50%;
        @include translate(-50%,-50%);

        //background-color: $orange;
        @include transition(all 0.2s ease-in-out);

    }

}













////     ////     ////     ////     ////     ////     ////     ////     ////



